:root{
  --beige: #FAF0CA;
  --brown: #A47963;
  --green: #397367;
  --blue: #183059;
  --black: #000000;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--black);
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
}

::-webkit-Scrollbar{
  width: 7px; 
  background: var(--black);
}

::-webkit-Scrollbar-thumb{
  border-radius: 7px;
  background: var(--brown);
  box-shadow: 0 0 7px var(--brown);
}
::-webkit-Scrollbar-track{
  margin-top: 70px;
  border-radius: 7px;
}

.center{
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  text-align: center;
}

h1{
  font-family: "alfarn", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--beige);
  font-size: 80px;
  margin: 0;
}

h2{
  font-family: "alfarn", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--brown);
  font-size: 25px;
  margin: 0;
}

h3{
  font-family: "alfarn", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--green);
  font-size: 20px;
  margin: 0;
}

p{
  font-family: "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 12px;
  margin: 0;
}

.socialbutton{
  background-color: var(--brown);
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialbutton:hover{
  background-color: var(--beige);
}

.navbar .socialbutton{
  background-color: rgba(164, 121, 99, 0.6);
  scale: 0.7;
}

.navbar .socialbutton:hover{
  background-color: var(--beige);
}

.icon{
  fill: var(--beige);
  transition: 0.3s;
}

.socialbutton:hover .icon{
  fill: var(--brown);
}

.icon2{
  stroke: var(--beige);
  transition: 0.3s;
}

.socialbutton:hover .icon2{
  stroke: var(--brown);
}

a.button{
  font-family: "alfarn", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--beige);
  font-size: 20px;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  
  
  background-color: var(--brown);
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  
  width: 180px;
  margin: 0;
  height: 50px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a.button:hover{
  color: var(--brown);
  background-color: var(--beige);
}

nav{
  z-index: 1;
}

div.navbar, div.hamburger{
  position:fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100vw;
  background-color: var(--black);
  display: flex
}

div.hamburger{
  translate: +100%;
}

div.pages{
  display: flexbox;
  width: 45%;
  height: 70px;
  padding-left: 1%;
  overflow-y: hidden;
}

a.pages{
  font-family: "alfarn", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--brown);
  font-size: 18px;
  margin: 0;
  margin-right: 1vw;
  text-align: center;
  line-height: 70px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

a.pages.active, a.pages:hover{
  color: var(--beige);
}

@media screen and (min-width: 1200px){
  a.pages{
    font-size: 20px;
  }
}

a.hamburgerpages{
  display: block;
  font-family: "alfarn", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: auto; 
  margin-right: auto; 
  color: var(--brown);
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

a.hamburgerpages.active, a.hamburgerpages:hover{
  color: var(--beige);
}

div.logo{
  width: 10%;
  height: 70px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo-container{
  width:50px;
  height:50px;
  transition: 0.3s;
  border-radius: 5px;
  border: none;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0;
}

.logo-container:hover{
  scale: 1.15;
}

img.logo{
  width:80%;
  height:80%;
}

.socialmedia{
  display: flex;
  width: 45%;
  height: 70px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
  gap: 0;
}

.socialmedia-hamburger{
  display: flex;
  position: absolute;
  top: 75vh;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: bottom;
  gap: 15px; 
  scale: 0.9;
}

.sidebar {
  position:absolute;
  display: block;
  text-align: center;
  z-index: -1;
  transition: 0.6s ease;
  translate: +100%;
  padding-top: 150px;
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--beige);
  width: 100vw;
  height:100vh;
}

@media screen and (max-width: 1075px){
  .navbar{
    translate: -100%;
  }

  div.hamburger{
    translate: 0;
  }

  div.logo{
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  label.hamburger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: max-content;
    position: absolute;
    top: 20px;
    right:20px;
    z-index: 2;
    cursor: pointer;
    scale: 0.75;
  }
  
  label.hamburger::before,
  label.hamburger::after,
  label.hamburger input {
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--brown);
    border-radius: 5px;
    transform-origin: right center;
    transition: rotate 0.3s, background-color 0.3s, translate 0.3s, width 0.3s;
  }

  label.hamburger input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  label.hamburger:has(input:checked)::before {
    rotate: -45deg;
    width: 48px;
    translate: 0 -5px;
    background-color: var(--beige);
  }

  label.hamburger:has(input:checked)::after {
    rotate: 45deg;
    width: 48px;
    translate: 0 5px;
    background-color: var(--beige);
  }

  label.hamburger input:checked {
    opacity: 0;
    width: 0;
  }

  label.hamburger:has(input:checked) + .sidebar {
    translate: 0;
  }
}

.page{
  height:100%;
  width:100vw;
  padding-top: 70px;
}

.page-collection{
  position: absolute;
  width:80%;
  padding-top: 70px;
  margin-left:10%;
  margin-right:10%;
}

footer{
  text-align: center;
  padding-top: 20px;
  width: 50%;
  margin-left:25%;
}

.opener{
  width: calc(100% - 14px);
  padding-left: 7px;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  position:fixed;
  left:0px;
  top:70px;
  pointer-events: none;
}

h1.opener{
  font-size:400%;
  height: 100px;
  position: absolute;
  top: 25%;
  opacity: 1;
  text-align: center;
}

path.opener{
  fill: var(--beige);
}

a.opener{
  margin-left:auto;
  margin-right: auto;
}

div.opener-arrow{
  width: 125px; 
  height: 50px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  position: absolute;
  top: 80%;
  pointer-events: auto;
  transition: 0.3s;
}

div.opener-arrow:hover{
  scale: 1.1;
}

div#contents{
  margin-top: calc(70vh + 20px);
  width: calc(100vw - 47px);
  background-color: var(--black);
  position: relative;
  padding: 20px;
  padding-bottom: 10px;
}

div.previews{
  width: calc(100vw - 47px);
  display: flex;
  flex-direction: row;
  gap: 15px;
}

a.previews{
  text-decoration: none;
  width: 50%;
}

@media screen and (max-width: 1075px){
  div.previews {
      flex-direction: column;
  }

  a.previews {
    width: 100%;
  }
}

div.content-page{
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
  transition: 0.3s;
}

div.content-page:hover{
  scale: 1.02;
}

img.content-page{
  object-fit: cover;
  width:100%;
  height:100%;
  border-radius: 5px;
  filter: grayscale(100%);
  transition: 0.3s;
}

div.content-page:hover img.content-page{
  filter: grayscale(0%);
}

h3.content-page{
  color: var(--beige);
  padding: 10px;
}

div.header{
  display:flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
}

.grid-column {
  flex: calc(25% - 8px);
  max-width: calc(25% - 8px);
  height: 100%;
  padding: 0 4px;
}

.grid-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.3s;
}

.grid-column img:hover{
  scale: 1.02;
}

.grid-column img:focused{
  height: 100vh;
  width: 100vw;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  .grid-column {
    flex: calc(50% - 8px);
    max-width: calc(50% - 8px);
  }
}

@media screen and (max-width: 600px) {
  .grid-column {
    flex: calc(100% - 8px);
    max-width: calc(100% - 8px);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.98);
  align-content: center;
}

.modal-content {
  display: flex;
  position: relative;
  margin: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.close {
  color: var(--brown);
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: var(--beige);
  text-decoration: none;
  cursor: pointer;
  scale: 1.15;
}

.mySlides {
  display: none;
}

.mySlides img{
  max-width:calc(100vw - 12% - 30.75px);
  max-height: 90vh;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: var(--beige);
  font-weight: bold;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.3s;
}

.prev{
  left: 3%;
}

.next {
  right: 3%;
}

.prev:hover,
.next:hover {
  scale: 1.3;
}